.chat {
  display: flex;
  overflow: hidden;
  width: 1200px;

  &__channel-list {
    max-width: 400px;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__message-list {
    background-color: var(--nord6);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 400px) {
  .chat {
    &__channel-list {
      max-width: 70px;
    }
  }
}
