.channel {
  display: flex;
  padding: 10px;
  height: 90px;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid var(--nord3);
}

.channel:hover {
  background-color: var(--nord4);
}

.channel-body {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}

.channel-top {
  width: 100%;
}

.channel-bottom {
  width: 100%;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}

.channel__avatar {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.channel__title {
  font-size: 1.5rem;
}

.channel__user-name {
  font-size: 1.2rem;
  color: var(--nord10);
}

.channel__message {
  font-size: 1rem;
}

.channel__date {
  float: right;
  font-size: 1rem;
  color: var(--nord3);
}