.channel {
  display: flex;
  justify-content: flex-start;
  height: 90px;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid var(--nord4);

  &__avatar {
    flex-shrink: 0;
    margin-right: 10px;
  }

  &__body {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__footer {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__title {
    margin-right: 10px;
    white-space: nowrap;
    font-size: 1.3rem;
  }

  &__user-name {
    font-size: 1.2rem;
    color: var(--nord10);
  }

  &__message {
    font-size: 1rem;
  }

  &__date {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    color: var(--nord3);
  }

  &--active {
    background-color: var(--nord4);
  }
}

.channel:hover {
  background-color: var(--nord6);
}

@media (max-width: 400px) {
  .channel {
    height: 70px;
  }
}
