.message-list {
  &__chat-input {
    padding: 50px;
  }
}

.message-list:empty {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 5%;
}

.message-list:empty::after {
  content: url(../../assets/icons/loading.svg);
  width: 30px;
  height: 30px;
}
