.date {
  display: flex;
  justify-content: center;

  &__text {
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: var(--nord6);
    color: var(--nord3);
    border-radius: 4px;
  }
}
