.login {
  width: 25vw;
  max-width: 350px;
  margin: 0 auto;
  background-color: white;
  padding: 20px 40px 40px;
  border-radius: 3px;
  margin-top: 10%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;

  &__icon {
    width: 50px;
    height: 50px;
    fill: var(--nord9);
    margin-bottom: 40px;
  }

  &__label {
    color: var(--nord3);
    width: 100%;
    text-align: left;
  }

  &__name {
    margin-bottom: 20px;
  }

  &__pass {
    margin-bottom: 20px;
  }

  &__button--login {
    margin-bottom: 20px;
  }

  &__button--registration {
    font-weight: normal;
    background-color: var(--nord6);
    color: var(--nord3);
  }

  &__button--registration:hover {
    background-color: var(--nord5);
  }
}
