.message {
  position: relative;
  display: flex;
  padding: 5px;
  background-color: white;

  &__avatar {
    flex-shrink: 0;
    margin-right: 10px;

    &--hide {
      flex-shrink: 0;
      width: 50px;
    }
  }

  &__body {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--nord10);
  }

  &__time {
    display: inline-block;
    color: var(--nord3);
    text-align: right;
  }
}

.message {
  &--short {
    padding-top: 0;
  }
}

.message:hover::before {
  content: '◤';
  position: absolute;
  font-size: 14px;
  top: -6px;
  left: 0;
  color: var(--nord4);
}
